header {
  width: 100vw;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #5d8bc8;
  margin-bottom: 50px;
}

/* Container geral que contem os botoes e a lista de paginas */
.nav-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}

/* Lista de paginas */
.nav-container ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-self: center;
  color: #ffff;
}

/* Container exclusivo dos botoes de login */


.btn-container button {
  margin-left: 15px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.logo-container h1 {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
}

.logo-container h1 span {
  align-self: flex-end;
  margin-left: 30px;
  color: black;
}